
.header-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #454545;
    height: 70px;
    align-items: center;
    color: white;
}

.header-container h3 {
    background-color: #454545;

}

.expenses-container {
    background-color: bisque;
    padding:20px 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.expenses-container label, .expenses-container select {
    margin: 3px;
}

#root > div > form > label:nth-child(1) > input[type=text] {
    width: 88%;
}

#root > div > form > label:nth-child(2) > input[type=text] {
    width: 79%;
}

.expenses-container select {
    height: 22px;
}

.add-expense {
    margin: auto;
    margin-top: 5px;
    width: 98%;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #FF6000
  }
.add-expense:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
.add-expense:hover:after {
    opacity: 1;
    right: 10px;
  }
.add-expense:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 20px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }

tr {
    display: flex;
    flex-direction: column;
}

tbody, thead,table {
    display: flex;
}

td,th {
    height: 60px;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse; 
}
  
th, td {
    text-align: center;
    padding-top: 8px;
    border: 1px solid #FFA559; 
}

th:nth-child(odd), td:nth-child(odd) {
    background-color: #FFA559;
}

.edit-btn, .delete-btn {
    margin: 3px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px #333;
    overflow: hidden;
    transition: .3s;
}

.delete-btn {
    background-color: rgba(255, 0, 0, 0.41);
    border: 1px solid rgb(255, 0, 0, 0.31);
}

.delete-btn img {
    background-color: rgba(255, 0, 0, 0.21);
}

.edit-btn {
    background-color: rgba(255, 217, 0, 0.41);
    border: 1px solid rgb(255, 217, 0, 0.41);
}

.edit-btn img {
    background-color: rgba(255, 217, 0, 0.21);
}